body {
    font-family: 'Annie', sans-serif; /* sans utiliza se der problema na fonte Annie*/
    max-width: 1280px; /*largura na pagina , colocar limite na tela*/
    margin: 0 auto; /*centralizar elemento, body centralizado na pagina*/
    background-color: #5e5b5bad;/*cor de fundo*/
    color: #333333;
}

body.modo-escuro { /*usar em java script > escurecer fundo*/
    background-color: #212121;
    color: #f5f5f5;
}

header {
    display: flex; /*a imagem vai ficar um do lado da outra*/
    justify-content: space-between; /*alinhar horizontalmente os elementos*/
    padding: 25px; /*espaço para deslocar do body*/
}

header .logo, /*espaço logo classe logo que esta dentro do header*/
header .imagem-botao {/*usei a virgula simples para add outra logo header*/
    width: 30px; /*pokebola diminuiu*/
    transition: 0.2s ease-in-out;/*qdo troca a imagem de dia para noite*/    
}

header #botao-alterar-tema {/*utiliando id do htmal*/
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {/*aumenta tamanho qdo passa o mouse*/
    transform: scale(1.05);
    cursor: pointer;

}

main {
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;/*colocou um pokemon ao lado do outro*/
    flex-wrap: wrap;/*wrap qdo não tiver espaço ele vai quebrando o texto*/
    gap: 30px;/*gap da o espaçamento dos cartões*/
    justify-content: center;/*justificando todos os cartões no centro*/
}

main .cartao-pokemon{
    background-color: #d8e3ec;/*cor dos quadrados dos pokemos*/
    width: 200px;
    padding: 15px; /*espaçameto na borda dentro do cartão*/
    display: flex;
    flex-direction: column;/*colocar um embaixo do outro*/
    align-items: center;/*alinhou o conteudo dos cartões no centro*/
    gap: 15px;
    border-radius: 15px;/*colocando cordas arredondadas*/
    transition: 0.2s ease-in-out; /*hoverquando entrar e sair do mouse muda de cor tem que fazer o houver */
}

main .cartao-pokemon:hover{
    background-color: #96d9d6; /*efeito de troca*/
}

.modo-escuro .cartao-pokemon{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}
main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;

}

main .cartao-pokemon .gif{ /*tamanho do gif*/
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 5px

}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{/*tudo que esta escrito grama sera alterado*/
    background-color: #7ac74c ;
}

.veneno{
    background-color: rgb(241, 69, 69);
}

.agua{
    background-color: rgb(139, 212, 241);
}

.inseto{
    background-color: #a6b91a;
}

.fogo{
    background-color: rgb(245, 101, 48);
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll; /*texto dentro do cartão, barra de rolagem*/
    font-size: 17px;
    padding-right: 10px; 
    

}